body{
    direction: rtl;
    font-family: tahoma;
}
header{
    background-image: url("../img/backmain.jfif");
    background-repeat: no-repeat;
    background-size: cover;
}
#title{
    font-size: 30px;
    font-family: b titr;
    color: aliceblue;
    text-shadow: 5px 5px 5px black;
}
#logo{
    width: 100px;
    background-color: violet;
    border-radius: 40px;
    margin: 10px;
}
header h1{
    text-align: center;
}
nav>ul>li{
    font-size: 20px;
    font-family: b titr;
    float:right;
    list-style: none;
}
nav>ul>li>a{
    text-decoration: none;
    color: aqua;
    text-indent: 20px;
    text-shadow: 5px 5px 3px rgb(0, 0, 0);
}

footer{
    background-color: rgb(36, 30, 30);
    color: white;
    font-size: 14px;
}
#footnote{
    text-align: center;
}
footer a{
    margin: 5px;
    text-decoration: none;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}